:root {
  --black: #000;
  --white: #fff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 0;

  background: var(--black);

  font-size: 16px;

  overflow-x: hidden;
}

.ui-clone-apple {
  font-size: 16px;

  position: relative;
  
  width: 13em;
  height: 12.375em;

  margin: 7.125em auto;
  
  background: var(--white);
  border-radius: 35% 35% 41% 41% / 42% 42% 75% 75%;

}

.ui-clone-apple:before {
  position: absolute;
  content: '';

  width: 3.4375em;
  height: 3.4375em;

  margin: -3.1875em 0 0 6.25em;

  border-radius: 6.25em 0;

  background: var(--white);

  z-index: 3;
}


.ui-clone-apple:after {
  position: absolute;
  content: '';

  width: 5.625em;
  height: 5.625em;

  margin: 1.75em 0 0 10.875em;

  background: var(--black);
  border-radius: 50%;
  box-shadow: -6.9375em -6.84375em 0 var(--black), 
  -7.375em -6.6875em 0 var(--black),
  -7.21875em -6.375em 0 var(--black),
  -6.59375em -7.84375em 0 var(--black),
  -8.0625em -10.375em 0 var(--black),
  -107.5px 11.375em 0 var(--black),
  -7.4375em 10.0625em 0 var(--black);

  z-index: 2;
}