:root {
  --primary: #34A1F2;
  --secondary: #2E4181;
  --light-green: #D4FAFC;
  --grey: #8E93AC;
  --rose: #F7739C;
  --white: #FFFFFF;
  --light: #FBFBFB;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.ehash-logo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 15px;
  padding: 5px;

  transform: rotate(-45deg);

  border: 4px solid var(--secondary);
  border-radius: 50%;
  background: var(--light-green);
}

.ehash-logo__head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  left: 10px;
  width: 18px;
  height: 15px;

  background: var(--light);
  border: 4px solid var(--secondary);
}

.ehash-logo__head--top-point,
.ehash-logo__head--bottom-point {
  position: relative;
  left: 5px;

  background: var(--secondary);
  width: 5px;
  height: 5px;
}

.ehash-logo__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  width: 60px;
  height: 25px;
  margin: 0 auto;

  background: var(--primary);
  border: 4px solid var(--secondary);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.ehash-logo__body--text {
  position: relative;
  left: 6px;
  bottom: 2px;

  text-transform: lowercase;
  font-family: monospace;
  font-size: 2rem;

  color: var(--white);
}

.ehash-logo__body__hash {
  position: relative;
  left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 30px;
  height: 100%;
  
  border-radius: 50%;
  border: 4px solid var(--secondary);
  background: var(--rose);
}

.ehash-logo__body__hash--text {
  text-transform: lowercase;
  font-family: system-ui;
  font-size: 1.5rem;

  color: var(--white);
}

@media screen and (min-width: 425px) {

  .ehash-logo {
    font-size: 5rem;
  }
  
  .ehash-logo__head {
    width: 31px;
    height: 36px;
  }
  
  .ehash-logo__head--top-point,
  .ehash-logo__head--bottom-point {
    width: 10px;
    height: 10px;
  }
  
  .ehash-logo__body {
    width: 130px;
    height: 60px;

    margin: 0 0;
  }
  
  .ehash-logo__body--text {
    font-size: 4.5rem;
  }
  
  .ehash-logo__body__hash {
    width: 60px;
  }
  
  .ehash-logo__body__hash--text {
    font-size: 3rem;
  }

}