:root {
  --red: #ea4335;
  --blue: #4285f4;
  --green: #34a853;
  --yellow: #fbb605;
  --white: #fff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 50px auto;
  padding: 0;

  font-size: 15px;
}

body .ui-clone-google:nth-child(1n){
  animation: moveGoogle 2.1s ease 1s infinite;
}

body .ui-clone-google:nth-child(2n){
  animation: moveGoogle2 2.2s ease 2s infinite;
}

body .ui-clone-google:nth-child(3n){
  animation: moveGoogle3 3s ease 3s infinite;
}

body .ui-clone-google:nth-child(4n){
  animation: moveGoogle4 1.5s ease 4s infinite;
}


.ui-clone-google {
  position: relative;
  left: 0%;

  width: 8.125em;
  height: 8.125em;

  border-radius: 50%;

  border-top: 3.125em solid var(--red);
  border-right: 3.125em solid var(--blue);
  border-bottom: 3.125em solid var(--green);
  border-left: 3.125em solid var(--yellow);

  margin: 70px 0;

}

@keyframes moveGoogle {
  0% {
    left: 0%;
    transform: translate(0, 0) rotate(0) skew(0, 0);
  }
  20% {
    left: 50%;
    transform: translate(0, 110px) rotate(180deg) skew(25deg, 10deg);
  }
  50% {
    left: 70%;
    transform: translate(0, 50px) rotate(360deg) skew(25deg, 10deg);
  }
  100% {
    left: 0%;
    transform: translate(0, 0) rotate(0) skew(0,0);
  }
}

@keyframes moveGoogle2 {
  0% {
    left: 0%;
    transform: translate(0, 0) rotate(0);
  }
  50% {
    left: 70%;
    transform: translate(0, 50px) rotate(360deg);
  }
  100% {
    left: 0%;
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes moveGoogle3 {
  0% {
    left: 0%;
  }
  40% {
    left: 60%;
  }
  100% {
    left: 0%;
  }
}

@keyframes moveGoogle4 {
  0% {
    left: 0%;
    transform: rotate(0deg);
  }
  40% {
    left: 100%;
    transform: rotate(360deg);
  }
  100% {
    left: 0%;
    transform: rotate(0deg);
  }
}

.ui-clone-google:before {
  content: '';
  position: absolute;
  top: -9.6875em;
  right: -8.4375em;
  
  border-top: 6.25em solid transparent;
  border-right: 6.25em solid var(--white);
  border-bottom: 6.25em solid transparent;
  border-left: 6.25em solid transparent;
  border-radius: 0;
  
  transform: rotate(85deg);
}

.ui-clone-google:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -3.125em;

  width: 6.25em;
  height: 3.125em;
  
  background: var(--blue);
  border-bottom-right-radius: 1.3125em;
  
  transform: translate(-0.125em, -1.3125em);
}